.country{

    border: 2px solid chartreuse;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
}
.img-div{
    width:130px;
    height: 70px;
}
img{
    width: 100%;
    height: 100%;
}
.btn{
    padding: 10px;
    background-color: rgb(45, 44, 43);
    color: rgb(254, 254, 254);
    border: none;
    font-weight: 700;
    border-radius: 5px;
}
.visited{
    background-color: rgba(197, 182, 210);
}